table.dataTable thead th, table.dataTable thead td {
	padding: 10px 18px;
	border-bottom: 0;
}

table.dataTable tbody th, table.dataTable tbody td {
	padding: 8px 10px;
	vertical-align: middle;
	word-break: break-all;
}

table.dataTable.no-footer {
	border-bottom: 0;
}

.my-table {
	border: 0;
	border-radius: 4px;
}

.my-table th {
	text-align: center;
	border-color: #fff !important;
}

.my-table td {
	/* text-align:left; */
	border-color: #fff !important;
}

.my-table thead {
	background-color: rgb(86, 0, 0);
	color: #fff;
}

.table-striped>tbody>tr.odd td {
	background-color: rgb(244, 244, 242);
}

.table-striped>tbody>tr.even td {
	background-color: rgb(234, 233, 230);
}

.dataTables_paginate>span>a {
	padding: 4px 12px !important;
	border: 1px solid #ddd !important;
	border-radius: 4px;
}

.dataTables_paginate>a {
	padding: 4px 8px !important;
	border: 1px solid #ddd !important;
	border-radius: 4px;
}

.dataTables_length {
	/* line-height:1em; */
	padding: 4px 0;
	line-height: 2em;
	width: 120px;
}

.dataTables_length>label {
	margin: 0;
}

.my-table thead {
	background-color: #98999B;
	color: #fff;
}

#content {
	width: 970px;
	position: absolute;
	left: 50%;
	margin-left: -485px;
}

#content * {
	font-family: "Microsoft YaHei"
}

#siteDataTabel_length>label {
	position: relative;
}

#word {
	position: absolute;
	right: -3em;
	top: 0;
	line-height: 34px;
}

#pages {
	width: 5em;
}